.App {
  text-align: center;

  .App-header {
    // background-color: #282c34;
    color: white;
  
    }


  form{

    input{
      outline: none;
      padding: 0.6rem 5rem;
      background-color:#3d4149 ;
      font-family: 'Poppins', sans-serif;
      color: white;
      border: none;
      border-radius: 5px;
    }
}


}